*{
    margin:0;
    padding: 0;
}
/* <!-- 字体设置 --> */

.color{color:red;}
.out{
   width: 1365px;;
   height:60px;
   display:flex;
   justify-content: center;
   align-items: center;
   background-image:url('../img/18.png');
}
.outer-nav{
 
   display: flex;
   width:800px;
   justify-content:space-between;
   font-family: '微软雅黑';
   font-weight:600;
   font-size: 13px;
}

.color {
    color: red;
}
.center
{
	text-align:center;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 1365px;
    height: 400;
    justify-content:center;
    align-items: center;
    background-image:url('../img/20.png');
}
.inside{
     
     display: flex;
     width:800px;
     justify-content:center;
     align-items: center;
     font-size: 25px;
 }


.flex-container1 {
    margin:20px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: column;
    width: 350px;
    height: 400;
    justify-content:center;

}
.flex-container2 {
    margin:15px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: column;
    width: 450px;
    height: 400;
    justify-content:space-between;

}
.flex-container3 {
    margin:0px;
    display: -webkit-flex;
    display: flex;
    width: 450px;
    height: 100;
    background-image:url('../img/20.png');
    justify-content:space-between
}
.flex-container4 {
    display: -webkit-flex;
    display: flex;
    width: 450px;
    height: 100;
    font-family: '微软雅黑';
    font-weight:300;
    font-size: 12px;
    justify-content:space-between
 
}
.inside1{
     
     display: flex;
     width:500px;
     justify-content:center;
     font-size: 25px;
 }
 .inside2{
     
     display: flex;
     width:800px;
     justify-content:center;
     font-size: 25px;
 }
 .flex-container5 {
    display: -webkit-flex;
    display: flex;
    width: 1365px;
    height: 300;
    justify-content:center;
    align-items: center;
    background-color: white;
}

.inside3{
     
     display: flex;
     width:800px;
     justify-content:space-between;
 }

 .flex-container6{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: column;
    width: 175px;
    height: 200;
    justify-content:center;  
 }
.flex-container7 {
    display: -webkit-flex;
    display: flex;
    width: 400px;
    height: 600;
    flex-direction: column;
    justify-content:space-between
}
.inside4{
     display: flex;
     width:400px;
     justify-content:space-between;
 }

.flex-container8 {
    display: -webkit-flex;
    display: flex;
    width: 350px;
    height: 600;
    font-family: '微软雅黑';
    font-weight:300;
    font-size: 10px;
    justify-content:space-between
}

.flex-container9 {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content:space-between
}
.out1{
    width: 1365px;;
    height:60px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-image:url('../img/25.png');
 }
 .outer-nav1{
  
    display: flex;
    width:800px;
    height:45px;
    font-family: '微软雅黑';
    font-weight:600;
    font-size: 14px;
    border-radius: 10px;
    border: 2px solid hsl(60, 9%, 98%);
    background-color: aliceblue;
 }
 .out2{
    width: 1365px;;
    height:175px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-image:url('../img/26.png');
 }
 .outer-nav2{
    position: relative;
    display: flex;
    width:800px;
    height:45px;
    font-family: '微软雅黑';
    font-weight:600;
    font-size: 14px;
    align-items:center;
 }
 .out3{
    width: 1365px;;
    height:60px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-image:url('../img/28.png');
 }
 .right {
    position: absolute;
    right: 0px;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }

.assembly1{
    width:100px;
    height:30px;
    font-family: '微软雅黑';
    font-weight:600;
    font-size: 12px;
    border-radius: 5px;
    border: 2px solid hsl(348, 12%, 84%);
    background-color: hsl(348, 12%, 84%);
}
.assembly2{
    width:100px;
    height:30px;
    font-family: '微软雅黑';
    font-weight:600;
    font-size: 12px;
    border-radius: 5px;
    border: 2px solid hsl(348, 12%, 84%);
    background-color: hsl(348, 12%, 84%);
}
.button {
    background-color: #e24e13;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    width: 40px;
    height: 25px;
    margin:3px;
    text-shadow: 5px 5px 5px #FF0000;
}

a:hover   {color:rgb(211, 224, 19);}

