body {font-size:90%;}
h1 {font-size:2.5em;}
h2 {font-size:1.875em;}
p {font-size:0.875em;}
* {
    margin: 0;
    padding:0;
}

#background-color-2{
    background-image: linear-gradient(#fafcf7, #eceaeb,#e3e1e2 );
}

/*无序列表属性*/
.uul{
    list-style-type: none; /*清除无序列表前的小点*/
    width: auto;
    height: 50px;
    margin: auto;/*外边距*/
    padding-left: 22%;/*左边距，使li看起来在中间*/
    text-align: center;/*文本的位置*/
    flex-direction: row;
}

/*列表每个元素的属性*/
#lli{
    float: left;
    width: 90px;
    height: 100%;
    padding: 0px;
    margin-right: 0px;
    flex-direction: row;
}

a:link,a:visited
{
    width: 100%;
    display: block;
    color: #ee1919;
    text-align: center;
    line-height: 30px; /*li行高*/
    padding: 10px;
    text-decoration: none;
}

/*点击时变白色*/
a:hover,a:active
{
    background-color: rgb(255, 255, 255);
}

/*背景板，foot大图*/
.background-picture{
    margin: 0px;
    position: relative;
    z-index: 0;
    min-height: 400px;
    background-color: ivory;
    display:flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
}

a.headurl{
    text-decoration:none;
    color: #BF2E27;
}

img{display:block;}

.flex-wen{
    display: -webkit-flex;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-flow:row nowrap;
    background-color:#f8f0f0;
}
.flex-null{
    display: -webkit-flex;
    display: flex;
    font-family: "微软雅黑";
}
.flex-navbar {
    font-family: "微软雅黑";
    color: #db241a;
    width: 10%;
    height: 3%;
    margin-top: 0.2%;
}

.post
{
    position: relative ;
    margin-bottom: 1em ;
}

/*顶部对齐*/
.pot
{
    position: absolute;
    top:0px;
}

/*底部*/
.bot 
{
    position: absolute;
    bottom:0px;
    font-size: 1.35em;
    width: 100%;
    background-color: #666666;
    color: #ffffff;
}